@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #FD6699;
    --bg-color-fin: hsla(83, 100%, 62%, 0.2)
}


/* ------------------------------- */

.ctn-bg {
    background-color: var(--bg-color-fin);
}

.logo-icon {
    font-size: 2rem;
}

.nav-item:hover {
    border-bottom: 1px solid var(--main-color);
    transition: all 0.2s ease;
}

.navbar-logo {
    font-size: 1.4rem;
}

.main-title{
    font-size: 4.4rem;
}

span, .primary-btn:hover, .card-btn, .info-btn:hover, .icon-footer  {
    color: var(--main-color)
}

.main-text {
    font-weight: 300;
}

.primary-btn {
    cursor: pointer;
    padding: 20px 40px;
    border: none;
    color: #fff;
    background-color: var(--main-color);
    transition: all 0.3s ease;
}

.primary-btn:hover {
    background-color: #fff;
}

.info-btn {
    cursor: pointer;
    padding: 20px 40px;
    border: none;
    color: #fff;
    background-color: var(--main-color);
    transition: all 0.3s ease;
}

.info-btn:hover{
    background-color: #fff;
    border: 1px solid var(--main-color);
}

.icon-footer {
    font-size: 2rem;
}